[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RegrCoeffsExplorer"]
	path = RegrCoeffsExplorer
	url = https://github.com/vadimtyuryaev/regrcoeffsexplorer
